/*********
 * Menus *
 *********/
.menu {
	padding: 0;
	background-image: none;
	background-color: @bg_color;
	border-color: shade (@bg_color,0.9);
	color: @text_color;
	border-width: 1 1 1 1;
	border-style: solid;
}

/* menuitem */
.menuitem {
	padding: 2;
	border-width: 1;
	border-radius: 0;
	border-style: solid;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.9)));

	-unico-bullet-color: @selected_fg_color;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@selected_bg_color, 0.0)),
		to (alpha (@selected_bg_color, 0.0)));
	-unico-inner-stroke-style: none;
}

.menuitem:active {
	color: @selected_fg_color;
}

.menuitem:prelight {
	color: @selected_fg_color;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.80)),
		to (shade (@selected_bg_color, 0.70)));
	background-color: @selected_bg_color;	
	border-style: solid;
	border-width: 1; /* Keep at 1. Menu gets bumpy otherwise. */
	border-radius: 0;
	border-color: shade (@dark_bg_color,0.3);
}



.menuitem *:prelight {
	color: @selected_fg_color;
	text-shadow: none;
}

.menuitem:insensitive,
.menuitem *:insensitive {
	color: mix (@fg_color, @bg_color, 0.5);
}

.menuitem.check:active,
.menuitem.radio:active {
	color: @fg_color;
	-unico-bullet-color: @fg_color;
}

.menuitem.check:active:prelight,
.menuitem.radio:active:prelight {
	color: @fg_color;
	-unico-bullet-color: @fg_color;
}

/* menubar */
.menubar {
	-GtkWidget-window-dragging: true;
	color: @selected_fg_color;
	background-image: -gtk-gradient (linear,
		left top,
		left bottom,
		from (#4e7aa7),
		to (#426c98));
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (#4e7aa7, 1.0)),
		to (alpha (#385b80, 1.0)));
	border-style: solid;
	border-width: 1;
}

.menubar.menuitem {
	border-radius: 0;
	border-width: 1;
	color: @text_color;
}

.menubar.menuitem:prelight {
	color: @text_color;
	text-shadow: none;
	background-color: @selected_bg_color;
	border-width: 0;
	border-style: none;
	-unico-inner-stroke-style: none;
}